:root {
  // Переменные для текста
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  // Переменные для line-height
  --line-height-small: 1.4;
  --line-height-medium: 1.6;
  --line-height-large: 1.8;

  --primary-color: #007bff;
  --secondary-color: #ff4500;
  --z-index-label: 10;
  --z-index-button: 5;
}